#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-cards-layout {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  align-items: flex-start;
}

.main-cards-layout > .left-column {
  width: 100%;
}

.main-cards-layout > .right-column {
  width: 100%;
}

@media (min-width: 900px) {
  .main-cards-layout {
    flex-direction: row;
  }
  
  .main-cards-layout > .left-column {
    flex: 1 1 0;
    min-width: 0;
  }
  
  .main-cards-layout > .right-column {
    flex: 0 0 520px;
  }
}
